body {
    background: #FFBA00;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
 
  main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
 h1 {
    margin: 3rem 1rem 6rem 1rem;
  }
  .artObject {
   max-width: 80%;
   max-height: 20rem;
   margin: 1rem;
 }
 
 #gallery {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-start;
 }


.containerNewComment{
  /* border-style: solid; */
  border-color: gray;
  border-width: 1px;
  padding: 0;
  display: flex;
  width: 100%;
  
  flex-direction: column;
  align-items: center;
}
.holder{
  /* border-style: solid; */
  border-color: gray;
  border-width: 1px;
  padding: 2px;
  width: 70%;

  display: flex;
  flex-direction: row;

justify-content: center;
}
label{
  /* border-style: solid; */
  border-color: red;
  border-width: 1px;
  /*text-align: end;*/
  
}

.labelcontainer{
  /* border-style: solid; */
  border-color: red;
  border-width: 1px;
  width: 130px;
  /*justify-content: flex-end;*/
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;

}
.buttoncontainer{
  /* border-style: solid; */
  border-color: red;
  border-width: 1px;
  width: 130px;
  /*justify-content: flex-end;*/
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
 margin-top: 15px;
}
.textcontainer{
  /* border-style: solid; */
  border-color: red;
  border-width: 1px;
  width: 12em;
  /*justify-content: flex-end;*/
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3em;

}
.row1 .row2 .row3{
  padding: 1px;
  justify-content: center;
  align-items: center;
  height: 
}
#msg{
  height: 6em;
}