body {
    background: #FFBA00;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
 
  main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
 h1 {
    margin: 3rem 1rem 6rem 1rem;
  }
  .artObject {
   max-width: 80%;
   max-height: 20rem;
   margin: 1rem;
 }
 
 #gallery {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-start;
 }
section.comment{
 font-family: monospace;
 font-size: 1em;
 border-style: solid;
 border-radius: 1em;
 margin: 2pc;
}
#comments p{
  font-size: 1em;
  color:brown
}
#content p{
  font-size: 3em;
  color: purple

}

.formSectionOne{
  color:chocolate;
  margin: 10px;

}
.formSectionTwo{
color: yellowgreen;
margin: 10px;
margin-bottom: 5px
  
}
.button{
  color: yellowgreen;
  margin: 5px;
  width: 13em;
  display: inline-block;
    
  }

#name{
  width: 13em;

}
#msg{
  width: 13em;
}

.newcomment{
  background: yellow;
  border-style:solid;
  border-radius: 1em;
  margin: 1pc;
  margin-bottom: 0em;
}